* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* My Common style */
.bg-color-1 {
    background-color: #1A0B2E;
}

.btn {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 13px 12px 16px;
    border-radius: 10000px;
    cursor: pointer;
}

/* header section */
header {
    max-width: 1600px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
}

nav h3 {
    font-size: 2.5rem;
    color: white;
}

nav h3 span {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 4px 4px 0px #0000000e;
}

#hamburger-menu {
    display: none;
}

nav ul {
    display: flex;
    gap: 30px;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
    list-style: none;
    color: white;
}

.bt-flex {
    display: flex;
    align-items: center;
    gap: 2px;
}

header hr {
    /* font-weight: 1;
    opacity: 10%; */
    width: 100%;
    border: none;
    border-top: 1px solid gray;
    opacity: 0.2;

}

/* About-Section */

.about {
    max-width: 1600px;
    background-color: #1A0B2E;
    /* border: 2px solid green; */


}

.about-content {
    max-width: 1200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: 2px solid yellowgreen; */
}

.about h2,
.about p {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.about h2 {
    font-size: 3rem;
    font-weight: 700;
}

.about p {
    font-size: 1rem;
    line-height: 20px;
}

.about hr {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border: none;
    border-top: 1px solid gray;
    opacity: 0.2;
}

.about .about-num {
    max-width: 1200px;
    padding-bottom: 80px;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.num-box h2 {
    color: #00FF88;
}

.num-box p {
    font-size: 1rem;
    line-height: 20px;
}

/* Why Tech Web */

.why-techweb {
    background-color: #230E3D;
    max-width: 1600px;
    padding-top: 120px;
}

.why-techweb h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.why-techweb .features {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 270px);
    margin: 0 auto;
    gap: 30px;
}

.why-techweb .box {
    border-radius: 40px;
    background-color: #3511658c;
    border-radius: 40px;
}


.why-techweb .premium {
    grid-row: span 2;
    padding: 107px 40px;
}

.premium h5,
.premium p {
    margin-bottom: 16px;
}

.premium h5 {
    margin-top: 16px;
}

.why-techweb .mobile,
.why-techweb .global,
.why-techweb .exclosive {
    grid-column: span 2;
    padding-left: 40px;
    padding-top: 40px;
}

.mobile h5,
.mobile p,
.global h5,
.global p,
.exclosive h5,
.exclosive p,
.rich h5,
.rich p {
    margin-bottom: 16px;
}

.mobile h5,
.global h5,
.exclosive h5,
.rich h5 {
    margin-top: 16px;
}

.why-techweb .rich {
    grid-column: span 1;
    grid-row: span 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}


.why-techweb .box h5 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.why-techweb .box p {
    font-size: 1rem;
    line-height: 26px;
    color: #FFFFFF;
}


/* Banner Section */


@media screen and (max-width:576px) {
    nav {
        height: 60px;
        justify-content: space-between;
    }

    nav h3 {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    nav ul {
        display: none;
    }

    .btn {
        display: none;
    }

    #hamburger-menu {
        display: block;
        margin-right: 20px;
    }

    .about h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .about .about-num {
        padding-bottom: 40px;
        margin: 40px auto 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content {
        max-width: 1200px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        /* border: 2px solid yellowgreen; */
    }

    .why-techweb {
        padding-top: 40px;
    }

    .why-techweb h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .why-techweb .features {
        max-width: 1200px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        margin: 0 auto;
        padding-left: 25px;

    }

    .why-techweb .box {
        padding: 24px;
        border-radius: 24px;
    }

    .why-techweb .premium {
        grid-row: span 1;
        height: 290px;
    }

    .why-techweb .mobile,
    .why-techweb .global,
    .why-techweb .exclosive {
        width: 400px;
    }
}