* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* My Common style */
.bg-color-1 {
    background-color: #1A0B2E;
}

.btn {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 13px 12px 16px;
    border-radius: 10000px;
    cursor: pointer;
}

/* header section */
header {
    max-width: 1600px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
}

nav h3 {
    font-size: 2.5rem;
    color: white;
}

nav h3 span {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 4px 4px 0px #0000000e;
}

#hamburger-menu {
    display: none;
}

nav ul {
    display: flex;
    gap: 30px;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
    list-style: none;
    color: white;
}

.bt-flex {
    display: flex;
    align-items: center;
    gap: 2px;
}

header hr {
    width: 100%;
    border: none;
    border-top: 1px solid gray;
    opacity: 0.2;

}

/* Banner Section */
.banner {
    max-width: 1600px;
    height: 100vh;
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 101px;

}

.banner-image {
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}

.banner-image .batch {
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #00FF88;
    border-radius: 1000px;
    position: absolute;
    padding: 8px 16px;
    left: 259px;
    top: 30px;
    z-index: 2;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.banner-image .microphone {
    position: absolute;
    bottom: 90px;
    right: 110px;


}


.banner-content {
    text-align: center;
}

.banner-content h1 {
    font-size: 3.75rem;
    color: white;
    margin-top: 40px;
}

.banner-content P {
    font-size: 1rem;
    color: white;
    margin-top: 8px;
}

.btn-flex {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-flex .listen,
.btn-flex .subscribe {
    display: flex;
    gap: 8px;
}

.btn-flex .subscribe {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;

}

/* About-Section */

.about {
    max-width: 1600px;
    background-color: #1A0B2E;
    /* border: 2px solid green; */


}

.about-content {
    max-width: 1200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: 2px solid yellowgreen; */
}

.about h2,
.about p {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.about h2 {
    font-size: 3rem;
    font-weight: 700;
}

.about p {
    font-size: 1rem;
    line-height: 20px;
}

.about hr {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border: none;
    border-top: 1px solid gray;
    opacity: 0.2;
}

.about .about-num {
    max-width: 1200px;
    padding-bottom: 80px;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.num-box h2 {
    color: #00FF88;
}

.num-box p {
    font-size: 1rem;
    line-height: 20px;
}

/* Why Tech Web */

.why-techweb {
    background-color: #230E3D;
    max-width: 1600px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.why-techweb h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.why-techweb .features {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 270px);
    margin: 0 auto;
    gap: 30px;
}

.why-techweb .box {
    border-radius: 40px;
    background-color: #3511658c;
    border-radius: 40px;
}


.why-techweb .premium {
    grid-row: span 2;
    padding: 107px 40px;
}

.premium h5,
.premium p {
    margin-bottom: 16px;
}

.premium h5 {
    margin-top: 16px;
}

.why-techweb .mobile,
.why-techweb .global,
.why-techweb .exclosive {
    grid-column: span 2;
    padding-left: 40px;
    padding-top: 40px;
}

.mobile h5,
.mobile p,
.global h5,
.global p,
.exclosive h5,
.exclosive p,
.rich h5,
.rich p {
    margin-bottom: 16px;
}

.mobile h5,
.global h5,
.exclosive h5,
.rich h5 {
    margin-top: 16px;
}

.why-techweb .rich {
    grid-column: span 1;
    grid-row: span 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}


.why-techweb .box h5 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.why-techweb .box p {
    font-size: 1rem;
    line-height: 26px;
    color: #FFFFFF;
}

/* Featured */

.featured {
    background-color: #1A0B2E;
    max-width: 1600px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.featured h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.featured-Container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 30px
}

.featured-Container .featured-box {
    background-color: #250D44;
    border-radius: 15px;
}

.featured-Container .youtube {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.featured-Container .featured-box h3 {
    font-size: 1.5rem;
    color: white;
    margin: 24px 24px 12px;
}

.featured-Container .featured-box p {
    font-size: 1rem;
    line-height: 24px;
    color: white;
    margin: 0 24px 12px;
}

.featured-Container .featured-box .featured-time {
    margin: 0 24px 24px;
}

.featured-time .time-color {
    color: #00FF88;
}

/* Host section */
.host {
    max-width: 1600px;
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.host h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.host-card {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 40px 40px 40px;
    border-radius: 40px;
    background-color: #230E3D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border: 3px solid gold;
    transition: border-color 0.4s ease, transform 0.4s ease;

}

.host-card:hover {
    border-color: rgb(255, 83, 20);
    transform: scale(1.05);
}

.host-card .host-image {
    width: 100%;

}

.host-card .host-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.host-card h3 {
    font-size: 2rem;
    color: white;

}

.host-card .host-content p {
    font-size: 1rem;
    line-height: 24px;
    color: white;

}

.host-card .host-icon {
    display: flex;
    gap: 8px;
}

.host-card .host-icon .icon {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 14px 14px 12px;
}

/* Footer */
footer {
    max-width: 1600px;
    padding: 120px;
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

footer h1 {
    font-size: 3.75rem;
    color: white;
    margin-bottom: 28px;

}

footer h1 .linear {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 544px;
    margin: 0 auto;
}

.footer-icons .icon {
    display: flex;
    gap: 2.5px;
    margin-bottom: 40px;
}

.footer-icons .icon .icon-name {
    color: white;
}

#copy-right {
    color: white;
}


@media screen and (max-width:576px) {
    nav {
        height: 60px;
        justify-content: space-between;
    }

    nav h3 {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    nav ul {
        display: none;
    }

    .btn {
        display: none;
    }

    #hamburger-menu {
        display: block;
        margin-right: 20px;
    }

    .banner {
        padding-top: 101px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-content h1 {
        font-size: 3rem;
        margin-top: 24px;
    }

    .about h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .about .about-num {
        padding-bottom: 40px;
        margin: 40px auto 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content {
        max-width: 1200px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        /* border: 2px solid yellowgreen; */
    }

    .why-techweb {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .why-techweb h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .why-techweb .features {
        max-width: 1200px;
        display: block;
        padding-left: 10px;
        padding-right: 10px;

    }

    .why-techweb .box {
        padding: 24px;
        border-radius: 24px;
    }

    .why-techweb .premium {
        grid-row: span 1;
        overflow-y: hidden;

    }

    .premium h5,
    .premium p {
        margin-bottom: 10px;
    }

    .premium h5 {
        margin-top: 10px;
    }

    .why-techweb .box p {
        line-height: 20px;
    }

    .why-techweb .mobile,
    .why-techweb .global,
    .why-techweb .exclosive,
    .why-techweb .premium,
    .why-techweb .rich {
        width: 100%;
        max-width: 375px;
        margin-bottom: 10px;
    }

    .featured {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .featured h2 {
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .featured-Container {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px
    }

    .host {
        padding-top: 24px;
        padding-bottom: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .host h2 {
        font-size: 2rem;
    }

    .host-card {
        padding: 24px;
        border-radius: 24px;
        flex-direction: column;
        gap: 24px;
    }

    footer {
        padding: 40px 20px;
    }

    .footer-icons {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

}