* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* My Common style */
.bg-color-1 {
    background-color: #1A0B2E;
}

.btn {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 13px 12px 16px;
    border-radius: 10000px;
    cursor: pointer;
}

/* header section */
header {
    max-width: 1600px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
}

nav h3 {
    font-size: 2.5rem;
    color: white;
}

nav h3 span {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 4px 4px 0px #0000000e;
}

#hamburger-menu {
    display: none;
}

nav ul {
    display: flex;
    gap: 30px;
    font-size: 1rem;
    line-height: 120%;
    font-weight: 500;
    list-style: none;
    color: white;
}

.bt-flex {
    display: flex;
    align-items: center;
    gap: 2px;
}
header hr{
    /* font-weight: 1;
    opacity: 10%; */
    width: 100%; 
    border: none;
    border-top: 1px solid gray;
    opacity: 0.2;

}

.about {
    max-width: 1600px;
    background-color: #1A0B2E;
    /* border: 2px solid green; */


}

.about-content {
    max-width: 1200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: 2px solid yellowgreen; */
}

.about h2,
p {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.about h2 {
    font-size: 3rem;
    font-weight: 700;
}

.about p {
    font-size: 1rem;
    line-height: 20px;
}

.about hr {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border: none;
    border-top: 1px solid gray;
    opacity: 0.2;
}

.about .about-num {
    max-width: 1200px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.num-box h2{
    color: #00FF88;
}
.num-box p{
    font-size: 1rem;
    line-height: 20px;
}


/* Banner Section */


@media screen and (max-width:576px) {
    nav {
        height: 60px;
        justify-content: space-between;
    }

    nav h3 {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    nav ul {
        display: none;
    }

    .btn {
        display: none;
    }

    #hamburger-menu {
        display: block;
        margin-right: 20px;
    }
    .about h2 {
    font-size: 2rem;
    font-weight: 700;
}
.about .about-num {
    margin: 40px auto;
    grid-template-columns: repeat(2, 1fr);
}
.about-content {
    max-width: 1200px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: 2px solid yellowgreen; */
}


}